.QDatePicker {

  .input-group {
    cursor: pointer;
    max-width: 450px;
  }

  .form-control,
  .form-control:active,
  .form-control:focus {
    outline: none !important;
    -moz-outline: none !important;
    box-shadow: none;
    width: 100%;
    max-width: 400px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
  }

  .input-group-addon {
    background-color: white;
  }

  .input-group-addon:first-child {
    position: relative;
    z-index: 9999;
  }

  .input-group-addon.focus-active {
    border-color: #ee4415;
  }
}
