:global {
  .rc-time-picker {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 25px;
  }

  .rc-time-picker-input {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    height: 28px;
    cursor: text;
    font-size: 15px;
    line-height: 1.5;
    color: #808080;
    text-align: center;
     background-color: #f1f1f1;
     border: 0px;
     border-radius: 0px;
  }
}
