@import "~styles/common.scss";

.cardWrapper{
  div[class*="row"]{
    div[class*="col"]:first-child{
        text-align: right;
    }
  }
}
.floatLeft{
  label{
      float: left !important;
  }
}
.card{
  @extend .card;
  border-radius: 5px;
  div[class*="row"] {
    margin: 0 0 1rem 0 !important;
  }
}

.radioGroup{
  div[class="ant-radio-group"]{
    label{
      &:first-child{
          margin-bottom: 1rem;
      }
    }
  }
}
