@import 'colors';
@import 'fonts';

.rowsContainer {
  div[class*='row'] {
    margin-bottom: 1rem;
  }
}

.form {
  @extend .rowsContainer;
  div[class*="col"] > label {
    float: right;
  }
  div[class*="col"] > label[class*='ant-checkbox-wrapper'] {
    float: none;
  }
}

.table {
  width: 100%;
  color: rgba(0,0,0,.85);
  div[class*="ant-table"] {
    overflow: visible;
  }
  table {
    overflow: visible;
    padding: 0 !important;
    thead > tr > th {
      background: $main-gray !important;
      font-weight: $table-header-font-weight;
      text-transform: uppercase;
    }
    tbody {
      tr td {
        background-color: $main-white;
        font-weight: $table-body-font-weight;
      }
      i {
        font-weight: $basic-font-weight;
      }
    }
    th, td {
      text-align: center;
    }
  }
}

.gridTable {
  @extend .table;
  table {
    tbody {
      td {
        height: 35px;
        padding: 0 8px !important;
      }
    }
  }
}

.select {
  width: 100%;
}

.datePicker {
  width: 100%;
}

.input{
  margin-bottom: 1rem;
}

.radioGroup{
  width: 100%;
  label {
    width: 50%;
    text-align: center;
  }
}

.card {
  width: 100%;
  margin-bottom: 1rem;
}

.row {
  margin-top: 1rem;
}
