.margin_zero{
    margin: 0;
}

.padding_left_zero {
    padding-left: 0;
}

.text_align_right {
    text-align: right;
}

.cursor-pointer {
    cursor: pointer;
}

.display_none {
    display: none !important;
}

.display_block {
    display: block !important;
}

.display_inline_block {
    display: inline-block !important;
}

.width_50_per {
    width: 50%;
  /*  transition: width 0.5s;
    -webkit-transition: width 0.5s;*/
}

.hide_scrolbar_ie{
  -ms-overflow-style:none;
}

.width_100_per {
    width: 100%;
}

.highlighter {
    color: #FCA504
}

.bold {
    font-weight: bold;
}

.overflow_hidden {
   overflow: hidden !important;
}

.clear_both {
    clear: both;
  }
.margin_zero{
    margin: 0;
}

.padding_zero{
  padding: 0px;
}
.padding_right_zero{
  padding-right: 0px;
}
