@import '../../../assets/styles/variables.scss';

/***Task list styles***/
.tasks_list {

}

.tasks_list__total {
    background-color:$task-border-color;
    padding: 5px 10px;
    font-size: 16px;
}

.tasks_list__total_name{
 float: left;
}
.tasks_list__total_num{
   text-align: right;;
   padding-right: 35px;
}

.tasks_list__total_color {
    color: $task-background-color;
}
