.timeline__header {
}

.third__view_search {
  margin: 0px 5px 12px 0px;
}

.half__view_search {
}

.half_view_slider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.third_view_slider {
  margin-top: 20px;
  margin-bottom: 20px;
}
.half_view_docker, .half_view_settings {
  margin-top: 20px;
  margin-bottom: 20px;
}

.third_view_docker, .third_view_settings {
  margin-top: 20px;
  margin-left: -15px;
}

.third__view_datepicker_one {
  margin-left: -16px;
}

.third__view_datepicker_two {
  margin-left: -25px;
  width: 60%;
}

.example_custom_input {
  display: block;
  clear: both;
  padding: 5px 15px;
  border: 0;
  font: inherit;
  background-color: #F5F3F5;
  cursor: pointer;
  width: 100%;
  height: 28.6px;
}