.SymbolText__Title {
  background-color: #f2f2f2;
  color: #676767;
  font-weight: 600;
  padding-left: 8px;
  margin: 5px 0px;
}

.SymbolText__Content {
  color: #696969;
  white-space: pre-wrap;
}

.Highlight {
  background-color: #F7CA18;
}