@import 'src/assets/styles/variables';

.box {
  //border: 2px solid lightgrey;
  display: inline-block;
  //margin: 1em 1em 1em 0em;
  //margin-top: 0.5em;
  margin-right: 10px;
}

.input {
  display: inline-block;
  background-color: $sidemenu-background-color;
  background: url('../../../assets/images/newSVG/icon_calendar.svg') no-repeat scroll 5px 5px;
  display: inline-block;
  padding-bottom: 10px;
}

.icon {
  height: 2em;
  width: 2em;
  display: inline-block;
  position: relative;
  float: right;
  margin-top: 5%;
  //margin-left: 1em;
}

.date_range_container {
  //border: 2px solid lightgrey;
  //font-size: 80%;
  //width: 100%;
  display: inline-block;
}

.text {
  font-size: 80%;
}